<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @reply.author_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @reply.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @reply.body %>
</p>

<p>
  <strong>Repliable:</strong>
  <%= @reply.repliable_id %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
