<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @follow.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @follow.post_id %>
</p>

<%= link_to 'Edit', edit_follow_path(@follow) %> |
<%= link_to 'Back', follows_path %>
