
    <div class="d-flex border-top mt-2">
        <div class="pt-4 h5 text-info"><%= post.title %></div>
    </div>
    
    <div class="pb-2 d-flex">
        <div><%= truncate(post.body, length:240) %></div>
    </div>

    <div class="d-flex flex-row-reverse">
        <%= image_tag post.author.avatar_img, class: "img-fluid rounded avatar"%>
        <div><small class="text-muted">Posted on <%= post.created_at.strftime("%m-%d-%Y") %> at <%= post.created_at.strftime("%I:%M:%S") %> by <%= post.author.username %></small></div>
    </div>


    <% post.replies.each do |reply| %>
        <%= render "posts/reply", reply: reply %> 
    
        <% reply.descendants.each do |descendants| %>
            <div class="pl-5"> <%= render "posts/reply", reply: descendants %>  </div>
         <% end %>

    <% end %>