

<div class="media">
    <%= image_tag reply.author.avatar_img, class: "align-self-start mr-3 reply-avatar"%>
    <div class="media-body">
        <%= reply.body %>
        <div class="mb-3">
            <small class="text-muted">Posted on <%= reply.created_at.strftime("%m-%d-%Y") %> at <%= reply.created_at.strftime    ("%I:%M:%S") %> by <%= reply.author.username %></small>
        </div>
    </div>
</div>

<div class="pl-5">
    <%= render collection: reply.children, partial: "posts/reply", as: :reply %>
</div>