<p id="notice"><%= notice %></p>

<div class="container d-flex">
  <div class="row align-self-center"><h2>Posts</h2></div>
</div>

<div class="container">
  <% @posts.each do |post| %>
      <div class="d-flex border-top">
        <div class="pt-4 h5 text-info"><%= post.title %></div>
      </div>
      <div class="pb-2 d-flex">
        <div><%= post.body %></div>
      </div>

        <div class="d-flex flex-row-reverse">
          <div><%= image_tag post.author.avatar_img, style: "height:30px"%></div>
          <div><small class="text-muted">Posted on <%= post.created_at.strftime("%m-%d-%Y") %> at <%= post.created_at.strftime("%I:%M:%S") %> by <%= post.author.username %></small></div>
        </div>


      <% post.replies.each do |reply| %>
        <div class="pt-1 pl-4 d-flex">
          <div class=""><%= reply.body %></div>
        </div>
        <div class="pl-5 pb-2 d-flex flex-row">
          <div class="align-self-center"><%= image_tag reply.author.avatar_img, style: "height:20px"%></div>
          <div class="align-self-center"><small class="text-muted">Posted on <%= post.created_at.strftime("%m-%d-%Y") %> at <%= post.created_at.strftime("%I:%M:%S") %> by <%= reply.author.username %></small></div>
        </div>
      <% end %>
    <% end %>
</div>
